.mainWrapper {
  width: 90%;
  max-width: 870px;
  height: auto;
}

.wrapper {
  width: 100%;
  background-image: url("/bg-shorten-mobile.svg");
  background-color: var(--very-dark-blue);
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 10px;
  margin-top: 70px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}

.link {
  width: 100%;
  border-radius: 5px;
  height: auto;
  padding: 15px 18px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  height: auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: var(--cyan);
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.red {
  border: 3px solid var(--red);
  margin-bottom: 10px;
}

.error {
  align-self: flex-start;
  margin-bottom: 10px;
  display: none;
  color: var(--red);
  font-size: 16px;
}

@media (min-width: 700px) {
  .wrapper {
    flex-direction: row;
    background-image: url("/bg-shorten-desktop.svg");
    justify-content: space-between;
  }

  .error {
    opacity: 0;
    top: 0;
    position: absolute;
  }

  .link {
    margin: 0;
    width: 70%;
  }

  .button {
    width: 28%;
  }

  .button:hover {
    background: var(--lighter-cyan);
  }
}
